body{
    font-family: Arial,sans-serif;
    margin: 0;
    background: #f4f4f4;
}
nav{
    background: green;
    padding: 15px;
    text-align: center;
}
nav a{
    color: wheat;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}section{
    padding: 40px;
    margin: 20px;
    background: white;
    border-radius: 10px;
}
h1,h2,h3{color: green;}
button{
    background: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
footer{
    background: green;
    color: white;
    text-align: center;
    padding: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}
table,th,td{border: 1px solid #ccc;}
th{
    background: green;
    color: white;
    padding: 12px;
}
td{
    padding: 12px;
    text-align: center;
}
tr:nth-child(even){background: #f2f2f2;}
tr:hover{background: #dff5df;}
/*cards / containers */
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}
.cards{
    background: white;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-5px);
}
.card h3{
    color: green;
}
/*Navigation */
nav{
    background: green;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}
/* Logo */
.logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
/* Navigation Linkx */
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
}