body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    background-color: #f4f4f4;
}
/*Header*/
header{
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
}
nav a{
    color: white;
    margin: 10px;
    text-decoration: none;
}
/*Hero section */
.hero{
    background-color: #dff5df;
    text-align: center;
    padding: 60px;
}
.hero button{
    padding: 12px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}
/*sections*/
section{
    padding: 40px;
}
.products{
    background-color: white;
}
.product-box{
    background-color: #eeeeee;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}
/*profile*/
.profile{
    background-color: #dff5df;
}
/*contact*/
.contact{
    background-color: green;
    color: white;
    text-align: center;
}
/* Footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
html{
    scroll-behavior: smooth;
}